.content{
    display: flex ;
    flex-direction: column;
    background-color: #fef9ed;
    height: 80vh;
    align-content: space-evenly;
    justify-content: center;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
}

.inter{
    text-align: center;
}

.graphic{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-self: center;
}

