.content{
    display: flex ;
    flex-direction: column;
    background-color: #fef9ed;
    height: 80vh;
    align-content: space-evenly;
    justify-content: center;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
}

.contact{
    display: flex;
    padding: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.graphic{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-self: center;
}

.contact > *{
    margin: 20px;
}

.web{
    height: 100vh;
    background-color: #fef9ed;
}

@media (max-width:500px){
    .contact > a > img{
        width: 50px;
    }
}