.content {
    font-family: 'Dancing Script', cursive;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 20px;
    background-color: #fef9ed;
}
.graphic{
    align-self: flex-end;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px;
}

.Btech,.inter,.tenth{
    align-self: self-start;
    padding-left: 50px;
    padding-bottom: 20px;
}
.web{
    height: 100vh;
}

.projects,.skills,.coding{
    font-family: 'Dancing Script', cursive;
}